body {
    $light-grey: #BDBDBD;
    $grey: #757575;

    background-color: white;

    @mixin active {
        background-color: $light-grey;
        color: white;
        cursor: pointer;
        border-radius: 0.2em;

        &:hover {
            background-color: $grey;
        }
    }

    .state-number-control {
        input {
            width: 50px;
            text-align: center;
            margin-bottom: 1em;
        }
    }

    .turing-matrix {
        margin: 0 auto;

        tr {
            td {
                width: 5em;
                height: 1.5em;

                .field {
                    .view-mode, .edit-mode {
                        border: 1px black dashed;
                        text-align: center;
                        position: relative;
                        min-height: 1em;

                        .direction-control {
                            position: absolute;
                            bottom: 1.5em;
                        }

                        input {
                            width: 15px;
                        }

                        &:empty {
                            background-color: red;
                        }
                    }
                    .edit-mode {
                        border: none;
                    }
                }
            }

            .state-name {
                padding-left: 1em;
                padding-right: 1em;

                &.active {
                    @include active;
                }
            }

            &:first-of-type {
                div {
                    width: 50%;
                    margin: 0 auto;
                }

                &.active {
                    div {
                        @include active;
                    }
                }
            }
        }
    }
}