body {
    background-color: white;
    .turing-matrix {
        tr {
            td {
                padding: 1em;

                input {
                    width: 50px;
                }
            }
        }
    }
}