<div>
    <div ng-click="activeEditMode()" ng-if="!editMode">
        <span>{{ field.direction }} </span>
        <span>{{ field.char }} </span>
        <span>{{ field.newState }}</span>
    </div>
    <div ng-if="editMode">
        <input ng-blur="turnoffEditMode()" ng-focus="activeEditMode()" ng-model="field.direction" focus-me="{{ focusDirectionField }}">
        <input ng-blur="turnoffEditMode()" ng-focus="activeEditMode()" ng-model="field.char">
        <input ng-blur="turnoffEditMode()" ng-focus="activeEditMode()" ng-model="field.newState">
    </div>
</div>