<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Maszyna Turinga</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body ng-app="turingApp">
    <div class="main-container" ng-controller="MainController as mainCtrl">
        <label>Podaj dostepne znaki maszyny Turinga</label>
        <input ng-model="mainCtrl.availableSymbols">
        <p>Dostepn znaki to: {{ mainCtrl.availableSymbols }}</p>
        <button ng-click="initMachine()">Start!</button>
        <div>
            <table class="turing-matrix">
                <state ng-repeat="state in mainCtrl.stateMatrix" fields="state.fields" state-name="state.stateName"></state>
            </table>
        </div>
    </div>
</body>
<!-- Node modules scripts -->
<script src="../node_modules/jquery/dist/jquery.min.js"></script>
<script src="../node_modules/angular/angular.min.js"></script>
<!--Own scripts -->
<script src="js/Field.js"></script>
<script src="js/turingMachine.js"></script>
<script src="directives/focousMe.js"></script>
<script src="directives/field.js"></script>
<script src="directives/state.js"></script>
</html>