<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Maszyna Turinga</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body ng-app="turingApp">
    <div class="main-container" ng-controller="MainController as mainCtrl">
        <label>Podaj dostepne znaki maszyny Turinga</label>
        <input ng-model="mainCtrl.availableChars">
        <p>Dostepn znaki to: {{ mainCtrl.availableChars }}</p>
        <button ng-click="initMachine()">Start!</button>
        <table class="turing-matrix">
            <tr>
                <th></th>
                <th ng-repeat="symbol in mainCtrl.symbols">{{ symbol }}</th>
            </tr>
            <tr ng-repeat="row in mainCtrl.stateMatrix">
                <th>{{ row.stateName }}</th>
                <td ng-repeat="field in row.fields" ng-click="startEditMode(field)">
                    <input ng-if="field.showEditMode" ng-blur="editComplete(field)" value="{{ field.direction}} {{ field.char }} {{ field.newState }}">
                    <span ng-if="!field.showEditMode">{{ field.direction}} {{ field.char }} {{ field.newState }}</span>
                </td>
            </tr>
        </table>
        <field direction="'L'" char="'X'" new-state="23" edit-mode="false"></field>
    </div>
</body>
<!-- Node modules scripts -->
<script src="../node_modules/jquery/dist/jquery.min.js"></script>
<script src="../node_modules/angular/angular.min.js"></script>
<!--Own scripts -->
<script src="js/Field.js"></script>
<script src="js/turingMachine.js"></script>
<script src="directives/focousMe.js"></script>
<script src="directives/field.js"></script>
</html>